connections:
  # specify the connections here.
  mssql_conn:
    # name of the connection that will be used anywhere in the tool. Connection_name should
    # unique in every connection
    connection_name : mssql_conn
    # connection type. mssql is used for Microsoft SQL server
    connection_type : mssql
    # if trusted connection is supposed to be yes skip this info
    username        : sa
    password        : Str0ngPa$$w0rd
    # host or the server address
    host            : localhost
    # connect through either jdbc or odbc
    connect_through : odbc
    # if using jdbc, define the .jar location
    driver_location : ""
    # odbc driver name if using odbc, else give jdbc driver name
    driver          : ODBC Driver 17 for SQL Server
  mysql_conn:
    connection_name : mysql_conn
    connection_type : mysql
    username        : root
    password        : Password
    host            : 127.0.0.1
    port            : 13306
  postgres_conn:
    connection_name : postgres_conn
    connection_type : postgresql
    username        : postgres
    password        : docker
    host            : localhost
