connections:
  # specify the connections here.
  mssql_conn:
    # name of the connection that will be used anywhere in the tool. Connection_name should
    # unique in every connection
    connection_name : mssql_conn
    # connection type. mssql is used for Microsoft SQL server
    connection_type : mssql
    # if trusted connection is supposed to be yes skip this info
    username        : sa
    password        : Str0ngPa36628w0rd
    # host or the server address
    host            : localhost
    # if using jdbc, define the .jar location
    driver_location : ""
    # odbc driver name if using odbc, else give jdbc driver name
    driver          : com.microsoft.sqlserver.jdbc.SQLServerDriver
    # properties, like ssl=true&loglevel=2, or anything else that you need to be appended to the end of your jdbc url
    properties      : ''
  mysql_conn:
    connection_name : mysql_conn
    connection_type : mysql
    username        : root
    password        : good_soup
    host            : 127.0.0.1
    port            : 3306
    db_name         : test
    driver          : com.mysql.cj.jdbc.Driver
  postgres_conn:
    connection_name : postgres_conn
    connection_type : postgresql
    username        : postgres
    password        : docker
    host            : localhost
    properties      : ?ssl=true&loglevel=2
  mongo_conn:
    connection_name : mongo_conn
    connection_type : mongodb
    username        : mongoadmin
    password        : secret
    host            : localhost
    db_name         : honey
  local_conn:
    connection_name : local_conn
    connection_type : local
#    file_dir_path   : /Users/ssirohi3/personal/data
#    file_name       : hello.csv
    sep             : ","
  s3_data_conn:
    connection_name : s3_data_conn
    connection_type : s3